body {
	font-family: 'Noto Sans JP', sans-serif;
	margin: 0px;
	height: 100vh;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

p {
	float: left;
	font-size: 10vh;
}

input {
	outline: 0;
	border-width: 0 0 2px;
	border-color: rgba(255, 255, 255, 0.6);
	float: left;
	margin: 10vh 5px 10vh 5px;
	height: 10vh;
	width: 8vw;
	background-color: rgba(255, 255, 255, 0);
	font-size: 10vh;
	color: white;
	text-align: center;
}

input:focus {
	border-color: rgba(255, 255, 255, 0.9);
}

button {
	outline: 0;
	border-width: 0 0 2px;
	border-color: rgba(255, 255, 255, 0.6);
	height: 12vh;
	width: 20vw;
	background-color: rgba(255, 255, 255, 0);
	font-size: 10vh;
	color: white;
	text-align: center;
	padding-bottom: 2.5vh;
	cursor: pointer;
}

#timerDiv {
	font-size: 45vh;
	text-align: center;
	transition-duration: 100ms;
}

.indexContainer {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr 2fr;
}

.settingsContainer {
	height: 90vh;
	margin-top: 10vh;
	display: grid;
	grid-template-columns: 5fr 1fr 5fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
}

.timerBox {
	background-color: #CD5C5C;
}

.utilityBox {
	font-size: 19vh;
	text-align: center;
	font-weight: bold;
	background-color: #CD5C5C;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.addOneButton {
	cursor: pointer;
	opacity: 85%;
	transition-duration: 100ms;
}

.addOneButton:hover {
	font-size: 20vh;
	transition-duration: 100ms;
	opacity: 100%;
}

.playPauseButton {
	cursor: pointer;
	opacity: 85%;
	transition-duration: 100ms;
}

.playPauseButton:hover {
	font-size: 20vh;
	transition-duration: 100ms;
	opacity: 100%;
}

.settingsButton {
	background-image: url("../app/settings_cog_white.png");
	background-repeat: no-repeat;
	background-size: 45%;
	background-position: center;
	cursor: pointer;
	opacity: 85%;
	transition-duration: 100ms;
}

.settingsButton:hover {
	opacity: 100%;
	background-size: 47%;
	transition-duration: 100ms;
}

.backButton {
	width: 11vh;
	height:11vh;
	background-image: url("../app/back_button.png");
	background-repeat: no-repeat;
	background-size: 11vh;
	background-position: center;
	cursor: pointer;
	opacity: 85%;
	transition-duration: 100ms;
	position: fixed;
	top: 12px;
	left: 15px;
}

.backButton:hover {
	opacity: 100%;
	transition-duration: 100ms;
	width: 12vh;
	height: 12vh;
	background-size: 12vh;
}

.workLabelDiv {
	grid-column: 1/2;
	grid-row:1/2;
	justify-self: end;
}

.workTimeDiv {
	grid-column: 3/4;
	grid-row: 1/2;
	justify-self: start;
}

.breakLabelDiv {
	grid-column: 1/2;
	grid-row: 2/3;
	justify-self: end;
}

.breakTimeDiv {
	grid-column: 3/4;
	grid-row: 2/3;
	justify-self: start;
}

.saveButtonDiv {
	grid-column: 1/4;
	grid-row: 3/4;
}

.saveButton {

}